body {
  font-family: Arial, sans-serif;
  background-color: #f3fdf6;
  color: #1e3d32;
  line-height: 1.6;
  margin: 0;
}

header {
  background: #a8e6cf;
  color: #033d1c;
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #77dd77;
}

nav ul {
  background: #d0f0c0;
  padding: 10px;
  list-style: none;
  text-align: center;
  margin: 0;
  
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #033d1c;
  font-weight: bold;
}

h2 {
  color: #2e7d32;
  border-bottom: 2px solid #77dd77;
  padding-bottom: 5px;
}

footer {
  background: #a8e6cf;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
p {
  text-indent: 2em;   /* sangría */
  text-align: justify; /* texto justificado */
  line-height: 1.6;   /* interlineado agradable */
}
pre {
  background-color: #f4f4f4;
  border: 2px solid #4CAF50;  /* borde verde bonito */
  border-radius: 10px;        /* esquinas redondeadas */
  padding: 15px;
  width: 80%;                 /* no ocupe todo el ancho */
  margin: 20px auto;          /* centrado horizontal */
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  font-size: 15px;
  overflow-x: auto;           /* scroll si el código es largo */
}
code {
  font-family: "Courier New", monospace;
  color: #333;
}
